/manim project/__pycache__/*.pyc
/manim project/media/
präsentation*
imgui.ini
Latex/*.pdf
Latex/chapters/*.pdf
live.main.log
live.main.tex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.xml
*.gz
*.toc
*.synctex(busy)
*.synctex
LaTeX/chapters/_minted/*
*.minted
*.bbl-SAVE-ERROR
LaTeX/figures/joke.jpg
*.bcf-SAVE-ERROR
